
<div class="card text-center">
  <div class="card-header">
    <b>LOGIN</b>
  </div>
  <div class="card-body p-4">
    <label style="float: left;">Email</label>
    <input class="form-control mb-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

    <label style="float: left;">Password</label>
    <input class="form-control mb-2" type="password" placeholder="ingrese su password" [(ngModel)]="usuario.password">

    <button class="btn btn-primary mb-2" (click)="login()" style="width: 100%;">Entrar</button>
    <button class="btn btn-info mb-2" (click)="loginGoogle()" style="width: 100%;">Entrar con google</button>
    <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label>
  </div>

  <div>
    <button class="btn btn-info mb-2" (click)="logOut()">Log out</button>
  </div>


</div>

